*{
    margin: 0;
    padding: 0;
}

body{
    overflow: hidden;
}

.gameContainer{
    background-image: url(Assets/istockphoto-1313445579-612x612.jpg);
    background-repeat: no-repeat;
    background-size: 100vw 100vh;
    width: 100%;
    height: 100vh;
}

#options p{
    font-family: 'Press Start 2P', cursive;
    padding: 10px;
    line-height: 1.6;
}

kbd {
    font-family: 'Press Start 2P', cursive;
    border-radius: 2px;
    padding: 2px;
    color: white;
    border: 1px solid white;
}

.player{
    background-image: url(Assets/green-character/east.gif);
    background-repeat: no-repeat;
    background-size: cover;
    width: 100px;
    height: 150px;
    position: absolute;
    bottom: 10px;
    left: 20px;

}

.obstacle{
    width: 160px;
    height: 120px;
    background-image: url(Assets/boulder.png);
    background-repeat: no-repeat;
    position: absolute;
    bottom: 10px;
    left: 50vw

}

.animatePlayer {
    animation: player 0.6s linear;
}

.obstacleAni {
    animation: obstacleAni 5s linear infinite;
}

.gameOver{
    font-family: 'Press Start 2P', cursive;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    border: 5px solid #FFFF00;
    padding: 10px; 
    font-size: 53px;
    color: white;
    text-align: center;
    visibility: hidden;
    z-index: auto;
}

#scoreCount {
    font-family: 'Press Start 2P', cursive;
    text-align: center;
    font-size: 30px;
    margin: auto;
    width: 50%;
    padding-top: 30px;
    color: white;
    width: 790px;
}

.popupBtn {
    position: absolute;
    top: 20px;
    right: 20px;
    padding: 10px 60px;
    background-color: aliceblue;
    border: 0;
    outline: none;
    cursor: pointer;
    font-family: 'Press Start 2P', cursive;
    font-size: 22px;
    font-weight: 500;
    border-radius: 30px;
}
.popUp {
    font-family: 'Press Start 2P', cursive;
    width: 600px;
    padding: 10px;
    background-color: #fff;
    border-radius: 6px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) scale(0.1);
    transition: transform 0.4s;
    visibility: hidden;
    z-index: 1;
}

.open-popUp {
    visibility: visible;
    transform: translate(-50%, -50%) scale(1);
}
.popUp kbd {
    font-family: 'Press Start 2P', cursive;
    border-radius: 2px;
    padding: 2px;
    color: black;
    border: 1px solid black;
}
.popUp p {
    font-family: 'Press Start 2P', cursive;
    padding: 10px;
    line-height: 1.6;
}

.popUp button {
    width: 100%;
    margin-top: 50px;
    padding: 10px 0;
    background-color: black;
    color: white;
    font-size: 18px;
    font-family: 'Press Start 2P', cursive;
    border-radius: 4px;
    cursor: pointer;
}


@keyframes player{
    0%{
        bottom: 0;
    }
    50%{
        bottom: 350px;
    }
    100%{
        bottom: 0;
    }
}

@keyframes obstacleAni{
    0%{
        left: 100vw;
    }
    100%{
        left: -10vw;
    }
}